*{
    margin: 0;
    padding: 0;
}
.wrapper1{
    width: 100%;
    background-color: rgb(194, 194, 194);
}
.img-info{
    width: 100%;
    padding-left:40px;
}
.img-info h1{
    width: 80%;
    padding: 20px 30px 10px;
    font-size: 38px;
    color:#111;
    line-height: 34px;
    text-align: center;
}
.img-info p{
    width: 80%;
    padding: 10px 20px 20px;
    font-size: 18px;
    color:#111;
    line-height: 24px;
    text-align: center;
}
.img-info p a{
   padding-bottom: ;
}
.GlacierWater{
    text-align: center;
    width: 100%;
    padding: 25px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: #111;
    background-color: rgb(213, 235, 250);
    line-height:45px
}
.GlacierWater-img{
   width: 100%; 
   
 
}

.button{
    color:  rgb(0, 195, 255);
    padding-left: 5px;
    padding-right: 5px;
   
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    font-family: poppins;
   margin-left: 32%;
   border: 3px solid  rgb(0, 195, 255);
text-transform: uppercase;
letter-spacing: 3px;
cursor: pointer;
border-radius: 100px;
transition: 1.5;
}
.button:hover{
  color: rgb(182, 104, 255);
  border: 3px solid rgb(182, 104, 255);
}
@media only screen and (min-width: 600px){
    .button{
        margin-left: 32%;
        font-size: 20px;
    }
}
@media only screen and (min-width: 700px){
    .wrapper1{
        width: 80%;
        margin: 0 auto;

    }
    .img-info p{
        width: 95%;
        padding: 10px 20px 0px 50px;
        margin-left: -75px;
        margin-right: 40px;
    }
    .img-info h1{
        width: 80%;
        padding: 30px 30px 10px;
        margin-left: -10px;
        font-size: 38px;
        color:#111;
        line-height: 24px;
        text-align: center;
    }
    .GlacierWater{
        width: 100%;
        padding: 20px 0px 10px;
    font-size: 55px;
    }
      
         .button{
            margin-left: 31%;
            margin-top: 10px;
            font-size: 22px;
}
}
@media only screen and (min-width: 1000px){
    .wrapper1{
        width: 100%;
        background-color: rgb(56, 56, 56);
    }
.img-info{
    width: 46%;
    float: right;
   
}
.GlacierWater{
    text-align: center;
    width: 100%;
    padding: 25px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #111;
    background-color: rgb(213, 235, 250);
    line-height:45px
}
.img-info h1{
    width: 75%;
    padding: 30px 20px 10px 0px;
    font-size: 38px;
    color:#111;
    line-height: 24px;
    text-align: center;
}
.img-info p{
    width: 80%;
    padding: 20px 0px 0px 10px;
    text-align: left;
    margin-left: 5px;
        margin-right: 80px;

}
.GlacierWater-img{
  
    width: 49%; 
    float: right;

 }
 .button{
     margin-left: 20%;
     margin-top: 10px;
 }
}
@media only screen and (min-width: 1450px){
    .wrapper1{
        width: 100%;
        background-color: rgb(56, 56, 56);
    }
    
    .img-info{
        width: 48%;
        float: right;
       
    }
    .GlacierWater{
        text-align: center;
        width: 100%;
        padding: 25px 10px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        color: #111;
        background-color: rgb(213, 235, 250);
        line-height:45px
    }
    .img-info h1{
        width: 75%;
        padding: 30px 20px 10px 0px;
        font-size: 38px;
        color:#111;
        line-height: 24px;
        text-align: center;
    }
    .img-info p{
        width: 80%;
        padding: 20px 0px 0px 10px;
        text-align: left;
        margin-left: 5px;
            margin-right: 80px;
    
    }
    .GlacierWater-img{
        
        width: 49%; 
        float: left;
    
     }
     .button{
        margin-left:25%;
         margin-top: 10px;
     }
    }
    
    /* secound wrapper */
    #wrapper2{
        
        width:100%;
        background-color: rgb(251, 255, 0);
        
    }
   
    .springwater{
        font-size: 56px;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .springwaterimg{
        width:49%;  
    
    }
    .img-infotwo{
        float:right;
        width: 48%;
        padding: 10px 0px;
    }
    .button2{
        color:  rgb(0, 195, 255);
        padding-left: 5px;
        padding-right: 5px;
        background-color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 400;
        font-family: poppins;
       margin-left: 25%;
       border: 3px solid  rgb(0, 195, 255);
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5;
    text-decoration:  none;
    }
    .button2 a{
     
    text-decoration:  none;
    }
    @media only screen and (min-width: 700px){
.wrapper2{
    background-color: rgb(125, 125, 126);
}
        #wrapper2{
        width:80%;
        background-color: rgb(33, 22, 184);   
        }
    }

    @media only screen and (min-width: 1000px){
        .wrapper1{
            background-color: rgb(125, 125, 126);
        }
                #wrapper2{
                width:100%;
                background-color: rgb(73, 184, 22);   
                margin-top: 235px;
                }
            }
        @media only screen and (min-width: 1450px){
            .wrapper1{
                background-color: rgb(125, 125, 126);
            }
            #wrapper{
            width:100%;
            background-color: rgb(253, 0, 198);   
            }  
        }
    